In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
data =pd.read_csv("/content/Life_Expectancy.csv")

In [5]:
data

,Country,Status,Adult_Mortality,Infant_Deaths,Hepatitis,Measles,BMI,Underfive_Deaths,Polio,Diphtheria,HIV,GDP,Population,Malnourished10_19,Malnourished5_9,Income_Index,Schooling,Expected
0,Afghanistan,Developing,263,62,65,1154,19.1,83,6,65,0.1,584.259210,33736494,17.2,17.3,0.479,10.1,65.0
1,Albania,Developing,8,0,98,0,57.2,1,98,98,0.1,4575.763787,288914,1.2,1.3,0.761,14.2,77.5
2,Algeria,Developing,19,21,95,63,59.5,24,95,95,0.1,4132.762920,39871528,6.0,5.8,0.743,14.4,75.6
3,Angola,Developing,335,66,64,118,23.3,98,7,64,1.9,3695.793748,2785935,8.3,8.2,0.531,11.4,52.4
4,Argentina,Developing,116,8,94,0,62.8,9,93,94,0.1,13467.123600,43417765,1.0,0.9,0.826,17.3,76.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Venezuela,Developing,37,24,95,129,15.4,38,95,95,7.1,287.931877,8991735,6.8,7.0,0.388,8.8,55.3
120,Viet Nam,Developing,397,26,89,386,14.9,42,89,89,7.7,236.911438,8818438,6.9,7.1,0.371,8.2,53.4
121,Yemen,Developing,48,29,96,1064,14.5,46,96,96,8.1,212.661949,868346,7.0,7.3,0.359,7.6,52.0
122,Zambia,Developing,415,31,88,2738,14.1,50,85,88,8.0,196.597780,853625,7.2,7.4,0.343,7.2,57.0
123,Zimbabwe,Developing,438,33,85,896,13.7,54,76,77,8.1,21.569654,832946,7.4,7.5,0.332,7.1,48.6

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            124 non-null    object
 1   Status             124 non-null    object
 2   Adult_Mortality    124 non-null    int64
 3   Infant_Deaths      124 non-null    int64
 4   Hepatitis          124 non-null    int64
 5   Measles            124 non-null    int64
 6   BMI                124 non-null    float64
 7   Underfive_Deaths   124 non-null    int64
 8   Polio              124 non-null    int64
 9   Diphtheria         124 non-null    int64
 10  HIV                124 non-null    float64
 11  GDP                124 non-null    float64
 12  Population         124 non-null    int64
 13  Malnourished10_19  124 non-null    float64
 14  Malnourished5_9    124 non-null    float64
 15  Income_Index       124 non-null    float64
 16  Schooling          124 non-null    float64
 17  Expected           124 non-null    float64
dtypes: float64(8), int64(8), object(2)
memory usage: 17.6+ KB

In [8]:
import matplotlib.pyplot as plt

In [11]:
data.drop(['Country'],axis=1)

,Status,Adult_Mortality,Infant_Deaths,Hepatitis,Measles,BMI,Underfive_Deaths,Polio,Diphtheria,HIV,GDP,Population,Malnourished10_19,Malnourished5_9,Income_Index,Schooling,Expected
0,Developing,263,62,65,1154,19.1,83,6,65,0.1,584.259210,33736494,17.2,17.3,0.479,10.1,65.0
1,Developing,8,0,98,0,57.2,1,98,98,0.1,4575.763787,288914,1.2,1.3,0.761,14.2,77.5
2,Developing,19,21,95,63,59.5,24,95,95,0.1,4132.762920,39871528,6.0,5.8,0.743,14.4,75.6
3,Developing,335,66,64,118,23.3,98,7,64,1.9,3695.793748,2785935,8.3,8.2,0.531,11.4,52.4
4,Developing,116,8,94,0,62.8,9,93,94,0.1,13467.123600,43417765,1.0,0.9,0.826,17.3,76.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Developing,37,24,95,129,15.4,38,95,95,7.1,287.931877,8991735,6.8,7.0,0.388,8.8,55.3
120,Developing,397,26,89,386,14.9,42,89,89,7.7,236.911438,8818438,6.9,7.1,0.371,8.2,53.4
121,Developing,48,29,96,1064,14.5,46,96,96,8.1,212.661949,868346,7.0,7.3,0.359,7.6,52.0
122,Developing,415,31,88,2738,14.1,50,85,88,8.0,196.597780,853625,7.2,7.4,0.343,7.2,57.0
123,Developing,438,33,85,896,13.7,54,76,77,8.1,21.569654,832946,7.4,7.5,0.332,7.1,48.6

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Status'] = le.fit_transform(data['Status'])

In [13]:
data['Status'].unique()

array([1, 0])

In [14]:
x=data.drop(["Expected",'Country'],axis=1)

In [15]:
x

,Status,Adult_Mortality,Infant_Deaths,Hepatitis,Measles,BMI,Underfive_Deaths,Polio,Diphtheria,HIV,GDP,Population,Malnourished10_19,Malnourished5_9,Income_Index,Schooling
0,1,263,62,65,1154,19.1,83,6,65,0.1,584.259210,33736494,17.2,17.3,0.479,10.1
1,1,8,0,98,0,57.2,1,98,98,0.1,4575.763787,288914,1.2,1.3,0.761,14.2
2,1,19,21,95,63,59.5,24,95,95,0.1,4132.762920,39871528,6.0,5.8,0.743,14.4
3,1,335,66,64,118,23.3,98,7,64,1.9,3695.793748,2785935,8.3,8.2,0.531,11.4
4,1,116,8,94,0,62.8,9,93,94,0.1,13467.123600,43417765,1.0,0.9,0.826,17.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1,37,24,95,129,15.4,38,95,95,7.1,287.931877,8991735,6.8,7.0,0.388,8.8
120,1,397,26,89,386,14.9,42,89,89,7.7,236.911438,8818438,6.9,7.1,0.371,8.2
121,1,48,29,96,1064,14.5,46,96,96,8.1,212.661949,868346,7.0,7.3,0.359,7.6
122,1,415,31,88,2738,14.1,50,85,88,8.0,196.597780,853625,7.2,7.4,0.343,7.2
123,1,438,33,85,896,13.7,54,76,77,8.1,21.569654,832946,7.4,7.5,0.332,7.1

In [16]:
y=data['Expected']

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [18]:
y_test

18     65.7
42     82.4
36     79.0
76     69.2
53     69.1
90     81.1
56     81.4
122    57.0
121    52.0
4      76.3
27     76.1
101    67.3
44     81.0
95     70.0
19     75.0
77     81.9
10     71.8
100    67.5
11     75.5
113    63.8
47     71.9
78     81.6
0      65.0
26     85.0
31     78.0
67     65.5
12     72.3
24     52.5
45     62.4
107    65.1
89     77.5
73     68.8
64     74.9
15     60.0
111    65.2
22     68.7
40     69.9
81     53.2
85     74.0
30     79.6
93     75.0
Name: Expected, dtype: float64

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
y

0      65.0
1      77.5
2      75.6
3      52.4
4      76.3
       ...
119    55.3
120    53.4
121    52.0
122    57.0
123    48.6
Name: Expected, Length: 124, dtype: float64

In [21]:
reg = LinearRegression().fit(X_train, y_train)

In [22]:
reg.score(X_train, y_train)

0.8564797194428111

In [23]:
h=reg.predict(X_test)

In [24]:
h

array([67.57239487, 80.66546947, 69.93842433, 62.99868267, 60.9585124 ,
       81.10014549, 83.52488118, 48.85969156, 58.03619053, 77.2529585 ,
       73.93811134, 71.41310671, 81.7897601 , 73.83637392, 75.77986288,
       85.00421928, 68.34021899, 71.89712439, 77.23328705, 64.32710552,
       66.35019267, 83.2690801 , 58.31483826, 78.76191251, 79.92054703,
       70.11914644, 74.93786291, 51.13839386, 66.25146998, 72.61919514,
       79.18507037, 71.90782943, 73.35743643, 64.20161358, 66.71066525,
       69.135791  , 73.68068205, 59.16904193, 72.76522491, 76.53632788,
       75.13184594])

In [25]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, h)

17.109986580356722